<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查詢網</title>
</head>
<body>
    <h2>查詢網</h2>
    <form action="/submit" method="post">
        <h2>請輸入以下資料</h2>
        <p>姓名：<input type="text" name="user" /></p>
        <p>身分證：<input type="text" name="user2" /></p>
        <p>生日(0810101)：<input type="text" name="user3" /></p>
        <h2><input type="submit" value=輸入 style="width:90px;height:40px;"/></h2>
    </form>

</body>
</html>